body{
    background-image: url('../images/reference.png');
    height: 8981px;
}
/* Common Styles */
.container{
    width: 1140px;
    margin: 0 auto;
}

/* Quick Links */
#quick-links{
    background-color: #106eea99;
    height: 40px;
}

#header{
    height: 93px;
    background-color: #ff0000a3;
}

#banner{
    height: 595px;
    background-color: #0000ff8f;
}

#highlights{
    height: 364px;
    background-color: #ff0000a3;
}

#about{
    background-color: #106eea99;
    height: 813px;
}

#skills{
    background-color: #ff0000a3;
    height: 255px;
}

#statistics{
    background-color: #106EEA;
    height: 276px;
}

#clients{
    height: 100px;
    background-color: #ff0000a3;
}

#service{
    background-color: #106eea99;
    height: 995px;
}

#testimonials{
    background-color: #ff0000a3;
    height: 434px;
}

#portfolio{
    background-color: #106eea99;
    height: 1437px;
}

#team{
    background-color: #ff0000a3;
    height: 666px;
}

#pricing{
    background-color: #106eea99;
    height: 720px;
}
#faq{
    background-color: #ff0000a3;
    height: 606px;
}

#contact{
    background-color: #106eea99;
    height: 933px;
}

#newsletter{
    height: 236px;
    background-color: #ff0000a3;
}

#footer{
    background-color: #106eea99;
    height: 340px;
}

#legals{
    background-color: #ff0000a3;
    height: 78px;
}