body{
    background-image: url('../images/reference.png');
    height: 8981px;
    font-family: 'Poppins', 'Arial', sans-serif;
}
/* Common Styles */
.container{
    width: 1140px;
    margin: 0 auto;
}
.primary-btn{
    background: #106eea;
    display: inline-block;
    padding: 12px 22px;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}
.secondary-btn{
    color: #000;
    text-decoration: none;
    line-height: 50px;
}
.secondary-btn i{
    font-size: 30px;
    color: #106eea;
    position: relative;
    top: 4px;
}
.section-title{
    text-align: center;
    padding: 60px 0 0;
}
.section-title h4{
    padding-bottom: 20px;
}
.section-title h4 span{
    background: #e7f1fd;
    border-radius: 14px;
    padding: 7px 12px;
    display: inline-block;
    color: #106eea;
    font-size: 13px;
    font-weight: 600;
}
.section-title h2{
    font-size: 36px;
    color: #444444;
    margin-bottom: 20px;
}
.section-title h2 span{
    color: #106eea;
}
.section-title p{
    max-width: 590px;
    margin: auto;
    line-height: 22px;
}

/* Quick Links */
#quick-links{
    height: 40px;
}
#quick-links .f-container{
    display: flex;
    justify-content: space-between;
}
#quick-links .f-container .f-item{
    
}

#header{
    height: 93px;
}
#header .f-container{
    display: flex;
    justify-content: space-between;
}
#header .f-container .f-item{
    
}

#banner{
    height: 595px;
    background: url('../images/hero-bg.jpg'); 
    background-size: cover;
    position: relative;
}
#banner .white-overlay {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#banner .f-container{
    display: flex;
    position: relative;
    z-index: 2;
}
#banner h1{
    padding-top: 224px;
    font-size: 45px;
    padding-bottom: 12px;
}
#banner h1 span{
    color: #106eea;
}
#banner p{
    font-size: 22px;
    padding-bottom: 30px;
}
#banner .cta-wrapper{}
#banner .cta-wrapper a{}
#banner .cta-wrapper a.primary-btn{
    margin-right: 10px;
}
#banner .cta-wrapper a.secondary-btn{}

#highlights{
    height: 307px;
    padding: 58px 0 0 0;
}
#highlights .f-container{
    display: flex;
    justify-content: space-around;
}
#highlights .f-item{
    background-color: #fff;
    flex-basis: 20%;
    padding: 15px;
    box-shadow: #d5d5d5 0px 0px 15px;
    border-radius: 8px;
}


#about{
    height: 813px;
    background: #f6f9fe;
}

#skills{
    background-color: #ff0000a3;
    height: 255px;
}

#statistics{
    background-color: #106eea9e;
    height: 276px;
}

#clients{
    height: 100px;
    background-color: #ff0000a3;
}

#service{
    height: 995px;
}
#service .section-title{
    height: 219px;
}
#service .section-content .f-container{

}
#service .section-content .f-item{

}
#testimonials{
    background-color: #ff0000a3;
    height: 434px;
}

#portfolio{
    background-color: #106eea99;
    height: 1437px;
}

#team{
    background-color: #ff0000a3;
    height: 666px;
}

#pricing{
    background-color: #106eea99;
    height: 720px;
}
#faq{
    height: 606px;
}

#contact{
    height: 933px;
}
#contact .section-title{
    height: 275px;
}
#contact .section-content{}
#contact .f-container{
    display: flex;
    flex-wrap: wrap;
}
#contact .f-item{
    text-align: center;
}
#contact .f-item.size-a{
    flex-basis: 50%;
}
#contact .f-item.size-z{
    flex-basis: 25%;
}
#contact {}
#contact{}

#newsletter{
    height: 236px;
}

#footer{
    background-color: #106eea99;
    height: 340px;
}

#legals{
    background-color: #ff0000a3;
    height: 78px;
}